<header id="header">
  <h1>Listing snakes</h1>
</header>

<section id="content">
  <% @snakes.each do |snake| %>
  <article class="snakecage">
    <h2><%= snake.name %></h2>
    <% @snake = snake %>
    <%= render 'snakediv' %>

    <nav>
      <ul>
	<li><%= link_to 'Show', snake %></li>
	<li><%= link_to 'Edit', edit_snake_path(snake) %></li>
	<li><%= link_to 'Destroy', snake, :method => :delete, :data => { :confirm => 'Are you sure?' } %></li>
      </ul>
    </nav>
  </article>
  <% end %>
  <%= link_to 'New Snake', new_snake_path %>
</section>
